nav {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    min-height: 14vh;
    padding: 20px 40px;
    box-sizing: border-box;
    overflow: hidden;

    backdrop-filter: blur(8px);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

nav .logo img {
    width: clamp(120px, 11vw, 90px);
    height: auto;
}

nav .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links li a, .sidebar li a {
    font-size: clamp(0.8rem, 0.9rem, 1rem);
    text-transform: uppercase;
    font-family: 'inter', sans-serif;
    color: white;
    opacity: 0.7;
    letter-spacing: 0.05em;

    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.nav-links li a:hover, .sidebar li a:hover {
    transform: translateY(-6px);
    opacity: 1 !important;
}

nav li a::after, .sidebar li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-blue);
  transition: width .3s;
}
nav li a:hover::after {
  width: 100%;
}

.nav-cta {
    border: 2px solid var(--main-blue);
    padding: 8px 20px;
    border-radius: 50px;
    color: white !important;
    transition: all 0.3s ease;
}

.nav-cta::after {
    display: none;
}

.nav-cta:hover {
  background-color: var(--main-blue);
  color: white !important;
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.7); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sidebar a {
    padding: 15px 32px;
    text-decoration: none;
    font-size: clamp(0.9rem, 4.5vw, 1.8rem);
    color: white;
    display: block;
    transition: 0.3s;
    font-family: 'inter', sans-serif;
    font-weight: 300;
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
}

#more-link {
    display: none;
    font-family: 'inter', sans-serif;
    color: white;
    border: 2px solid white;
    padding: 8px 12px;
    text-decoration: none;
    white-space: nowrap;
}

.sidebar .logo {
    padding-top: 50px;
}

.sidebar .logo img {
    width: 80%;
    margin: 0 auto;
    display: flex;
    text-align: center;
}